n8n workflows/RAG_Seccompliance.json
{
  "name": "RAG Seccompliance",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iB7pLcooOpwTnfFk_U-zbaic2l71U4-P",
          "mode": "list",
          "cachedResultName": "ragbry",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iB7pLcooOpwTnfFk_U-zbaic2l71U4-P"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "226101ed-044b-4f60-b2cc-dd84ec4fcc9b",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -520,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tiKABXA8JmA1jzkO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "20b2a376-32b6-4c95-bcba-ea64355aed54",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tiKABXA8JmA1jzkO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "bry",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "id": "ceea2c7e-1d21-49d8-9308-af0e460d5621",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        60,
        420
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "d5c71892-c4a5-4240-8713-4e88b8860b01",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        40,
        600
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "29e79f71-7d35-4a55-945c-70c2076cc5eb",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        200
      ],
      "webhookId": "07b625cd-dece-4751-a76f-44353b53ee0a"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "101aaa5b-51a9-48de-bc53-3c169d4fff47",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        360,
        420
      ],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {},
      "id": "1453f625-6007-420b-b9d3-eabeb1802e98",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        500,
        420
      ]
    },
    {
      "parameters": {
        "name": "ragbry_information",
        "description": "Returns documents related to the enterprise security posture"
      },
      "id": "eb44f7c5-1f37-480b-a7e3-ab9ef462dc9c",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        620,
        420
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:latest"
      },
      "id": "c3314c64-9c3d-44be-8a08-e83bd87af084",
      "name": "Embeddings Ollama1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        360,
        660
      ],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "d3ae2f6f-4c48-4d86-85e3-c8a2daec4c68",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        820,
        620
      ],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragbry",
          "mode": "list",
          "cachedResultName": "ragbry"
        },
        "options": {
          "pineconeNamespace": "bryrag"
        }
      },
      "id": "f2cc12de-4f90-403a-9666-789d3b529262",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -140,
        200
      ],
      "credentials": {
        "pineconeApi": {
          "id": "buZB8ZlPtfuu6OCf",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ragbry",
          "mode": "list",
          "cachedResultName": "ragbry"
        },
        "options": {
          "pineconeNamespace": "bryrag"
        }
      },
      "id": "d2f5e29b-e113-44db-98ec-4c42eb6b6c65",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        540,
        620
      ],
      "credentials": {
        "pineconeApi": {
          "id": "buZB8ZlPtfuu6OCf",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an auditor support agent. Your name is Saca. Your tone should be friendly and helpful. When asked questions about security compliance, use the provided context. If you do not know the answer, then simply respond with \"I don't know\"."
        }
      },
      "id": "1a850bfe-fcbb-4ea7-a806-235894810d62",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -100,
        420
      ],
      "id": "95944317-0725-49c7-acec-85c6de6efc44",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5a003ab-8aaa-436c-8839-3fbdb2fa115f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "QZaoQmt8RKI8LLYt",
  "tags": []
}